!.gitignore
!README.md
!risc_v_processor.srcs/
!risc_v_processor.srcs/**
risc_v_processor.cache/
risc_v_processor.gen/
risc_v_processor.hw/
risc_v_processor.ip_user_files/
risc_v_processor.runs/
risc_v_processor.sim/
risc_v_processor.waveforms/
risc_v_processor.xpr
.DS_Store
Thumbs.db
good.wcfg
risc_v_processor.srcs/utils_1
risc_v_processor.srcs/sources_1/bd
*.log
*.tmp
node_modules/
